.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    button{
        width: 55px;
        height: 45px;
        border: none;
        background: #07ec6e;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        outline: none;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease-in-out;    
        margin: 0 4px;    
    }
    .btnDisable{
        background: #7f7f7f;
        color: rgb(207, 207, 207);
        cursor: not-allowed;
    }
}