@media only screen and (min-width: 600px) {
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .glootie {
      width: 600px;
      height: auto;
    }

    p {
      
      text-align: left;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 20px;

      &:hover {
        color: #c9c9c9;
      }
    }
  }

}

@media only screen and (min-width: 768px) {
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .glootie {
      width: 600px;
      height: auto;
    }

    p {
      text-align: left;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 20px;

      &:hover {
        color: #c9c9c9;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .glootie {
      width: 600px;
      height: auto;
    }

    p {
      text-align: left;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 20px;

      &:hover {
        color: #c9c9c9;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .glootie {
      width: 600px;
      height: auto;
    }

    p {

      text-align: left;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 20px;

      &:hover {
        color: #c9c9c9;
      }
    }
  }
}