@media only screen and (max-width: 600px) {
  .board {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 20px;
    background: #333;
    display: grid;
    grid-template-columns: auto ;
    justify-content: center;
      button {

      }
  }
}

@media only screen and (min-width: 600px) {
  .board {
    margin: 0 auto;
    width: 580px;
    height: auto;
    background: #333;        
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .board {
    margin: 0 auto;
    width: 758px;
    height: auto;
    background: #333;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;    
  }  
}

@media only screen and (min-width: 992px) {
  .board {
    margin: 0 auto;
    width: 982px;
    height: auto;
    background: #333;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1200px) {
  .board {
    width: 1180px;
    height: auto;
    background: #333;    
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;

    button {
      margin-top: 120px;  
    }
  }
}

.noBoard {
  text-align: center;
  font-size: 1.3rem;
  padding: 20px 0;
}